{% extends "base.html" %}

{% block content %}

<h2 class="fw-bold mb-4">Resultados de búsqueda</h2>

{% if recetas %}

<div class="row">
{% for receta in recetas %}
<div class="col-md-4 mb-4">
    <div class="card h-100 shadow-sm text-dark">
        <img src="{{ receta['image'] }}" class="card-img-top" alt="Imagen">
        <div class="card-body">
            <h5 class="card-title">{{ receta['label'] }}</h5>
            <p>Calorías: {{ receta['calories'] }} kcal</p>
            <a href="{{ receta['url'] }}" target="_blank" class="btn btn-success w-100">Ver alimento</a>
        </div>
    </div>
</div>
{% endfor %}
</div>

{% else %}
<div class="alert alert-warning">No se encontraron alimentos.</div>
{% endif %}

{% endblock %}
